.chart {
	border: 0px;
	border-spacing: 0px;
	margin: 0px auto 1em;
	padding: 0px;
	width: 95%;
}

.chart caption {
	background: rgb(168, 39, 9) url('../images/table-head.png');
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin: 0 auto;
}

.chart a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.chart a:hover {
	color: rgb(255, 0, 0);
}

.chart tr,
.chart th,
.chart td {
	margin: 0px;
	padding: 2px;
}

.chart th,
.chart td {
	border: 1px solid rgb(192, 192, 192);
}

.chart th {
	font-weight: normal;
	text-align: left;
}

.chart td.details {
	padding: 1em 3em;
}

/* query row colors */
.chart .color0 {
	background-color: rgb(224, 224, 224);
}
.chart .color1 {
	background-color: rgb(192, 192, 192);
}
.chart .color2 {
	background-color: rgb(255, 255, 255);
}
.chart .color4 {
	background-color: rgb(153, 153, 153);
}

#gameDemos tr {
	padding: 0px;
}
	
#gameDemos th {
	padding: 2px;
}

#gameDemos td {
	padding: 0px 2px;
}

#gameDemos td img {
	vertical-align: middle;
	width: 22px;
	height: 22px;
}
