ul.downloads li.file {
	list-style-type: none;
	padding: 3px;
}

ul.downloads img {
	height: 29px;
	vertical-align: middle;
	width: 29px;
}

ul.downloads li.file a:hover,
ul.downloads li.link a:hover {
	color: rgb(255, 0, 0);
}

ul.downloads span.download-extras {
	color: rgb(133, 177, 50);
	font-size: x-small;
}

ul.downloads li.link {
	margin-left: 1.5em;
}

ul.downloads li.link a {
	color: rgb(170, 51, 51);
	text-decoration: underline;
}

span.daily_provider {
	display: block;
	font-size: 90%;
	padding-left: 3em;
}

#downloadContainer {
	position: relative;
	width: 100%;
}

#downloadButton {
	min-height: 53px;
	float: left;
	margin-bottom: 30px;
	width: 100%;
	padding: 15px;
	color: white;
	border-radius: 12px;
	border: 1px solid white;
	-webkit-box-shadow: 0 0 10px #222;
	-moz-box-shadow: 0 0 10px #222;
	box-shadow: 0 0 10px #222;
	text-decoration: none;
	background: rgb(200, 68, 48);
	background: linear-gradient(to bottom, rgb(191, 117, 93) 0%, rgb(200, 68, 48) 100%);
}

#downloadButton img {
	display: inline-block;
	float: left;
}

#downloadButton:hover {
	background: rgb(223, 145, 132);
	background: linear-gradient(to bottom, rgb(239, 198, 190) 0%, rgb(223, 145, 132) 41%, rgb(207, 92, 74) 83%, rgb(200, 70, 50) 100%);
}

.downloadText {
	font-size: 32px;
	line-height: 32px;
	letter-spacing: .03em;
	padding-bottom: 6px;
	display: block;
}

#downloadDetails {
	padding-left: 3px;
	color: white;
}

ul.downloads {
	margin: 0;
	padding: 0;
}
