ul.downloads li.file a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

ul.downloads li.file a:hover,
ul.downloads li.link a:hover {
	color: rgb(255, 0, 0);
}

ul.downloads span.download-extras {
	color: rgb(133, 177, 50);
	font-size: x-small;
}

ul.downloads li.link {
	margin-left: 1.5em;
}
	
ul.downloads li.link a {
	color: rgb(170, 51, 51);
	text-decoration: underline;
}

span.daily_provider {
	display: block;
	font-size: 90;
	padding-left: 3em;
}

#downloadContainer {
	position: relative;
	height: 100px;
}

#downloadButton {
	behavior: url(../css/ie-css3.htc);
	height: 53px;
	float: left;
	margin-bottom: 30px;
	padding: 15px;
	padding-left: 90px;
	color: white;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid white;
	-webkit-box-shadow: 0 0 10px #222;
	-moz-box-shadow: 0 0 10px #222;
	box-shadow: 0 0 10px #222;
	text-decoration: none;
	background: #C84430 url(../images/downloadbg.png) repeat-x;
}

#downloadButton:hover {
	background: #EFC6BE url(../images/downloadbgbright.png) repeat-x;
}

.downloadText {
	font-size: 40px;
	line-height: 32px;
	letter-spacing: .03em;
	padding-bottom: 6px;
	display: block;
	font-family: "trebuchet MS",Arial,"Sans-Serif";
}

#downloadDetails {
	padding-left: 3px;
	color: white;
}