#intro_header {
	/*float: left;*/
	margin: 0px 0px 8px 0px;
	padding: 0px;
	position: relative;
	width: 100%;
}

#intro_header div.intro {
	margin: 0px 0px 0px 158px;
	padding: 0px;
}

div.intro .rbcontent {
	padding: 0px;
}

div.sshots {
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 151px;
}

div.sshots .rbtop div  {
	background: url('../images/header-left-solid.gif') no-repeat top left;
}

div.sshots .rbtop {
	background: url('../images/header-right-solid.gif') no-repeat top right;
}
div.sshots .rbbot div {
	background: url('../images/shots-corner-left.gif') no-repeat bottom left;
}
div.sshots .rbbot {
	background: url('../images/shots-corner-right.gif') no-repeat bottom right;
}
div.sshots .rbtop p {
	background: rgb(247, 225, 158);
	border-top: solid 1px rgb(235, 177, 118);
	font: bold medium/normal "Trebuchet MS", Verdana, Tahoma, Sans-Serif;
	height: 20px;
	padding: 4px 0px 0px 0px;
	text-align: center;
}
div.sshots .rbbot p {
	background: rgb(247, 225, 158);
	border-bottom: solid 1px rgb(235, 177, 118);
	height: 24px;
	margin: 0px 7px;
}

div.sshots .rbtop,
div.sshots .rbtop div {
	height: 20px;
	width: 100%;
}

div.sshots .rbbot,
div.sshots .rbbot div {
	height: 25px;
	width: 100%;
}

div.sshots .rbcontent  {
	background: rgb(247, 225, 158);
	border-left: 1px solid rgb(235, 177, 118);
	border-right: 1px solid rgb(235, 177, 118);
	height: 100%;
	margin: 0px;
	overflow: hidden;
	text-align: center;
}


#screenshots_prev,
#screenshots_next {
	font-size: x-small;
}


#screenshots_prev {
	float: left;
}

#screenshots_next {
	float: right;
}


span.grey {
	color: #666;
}
