/* Language Menu - This file is currently unused*/

.language-menu {
    width: 88px;
    height: 34px;
    z-index: 99999;
    background: linear-gradient(to bottom, rgb(235, 183, 24) 0%, rgb(241, 206, 96) 4%, rgb(246, 225, 158) 46%, rgb(251, 241, 212) 89%, rgb(252, 245, 223) 100%);
    position: relative;
    font-size: 8pt;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.language-menu,
.language-menu a {
    text-decoration: none;
    color: #000;
}

.language-menu span {
    margin: 0 auto;
}

.language-menu img {
    height: 16px;
    width: 16px;
    top: 4px;
    position: relative;
}

.language-menu ul {
    padding-left: 0;
    background: #FBF1CE;
}

.language-menu li {
    list-style: none;
    display: none;
    padding-left: 0;
    z-index: 99999;
    margin: 0 2px 0 2px;
    font-size: 7pt;
}

.language-menu li:hover {
    background-color: #A82709;
}

code.text-badge {
    background-color: #00007f;
    color: #DDDD00;
    font-weight: bold;
    margin: 0 8px 0 0;
    padding: 0 2px 0 2px;
}

.language-menu:hover li {
    display: block;
}

.language-menu li::first-letter {
    font-weight: 700;
}

.language-menu:hover {
    border-bottom: 0;
}

.language-menu:hover ul {
    border: solid black;
    border-width: 0 1px 1px 1px;
}