.box .intro img {
	margin: 5px;
	text-align: left; 
	vertical-align: middle;
}

.linklist {
	color: rgb(0, 0, 0);
	font: 10pt Arial, Helvetica, Sans-Serif;
	margin-left: 3em;
}

.linklist .linkentry {
	margin-bottom: 1em;
}

.linklist .linkentry .linkhead {
	font-weight: bold;
}

.linklist .linkentry .linkbody {
	padding: 5px 5px 5px 3em;
}
