nav dl {
	white-space: nowrap;
	overflow: hidden;
	border-radius: 15px;
	background: rgb(168, 39, 9);
	padding-bottom: 10px;
	box-shadow: 4px 4px 1px rgb(229, 186, 153)
}

nav dl:last-child {
	margin-bottom: 0;
}

nav a {
	background: url('/images/bullet2.svg');
	background-size: contain;
	background-position: 0px 2px;
	background-repeat: no-repeat;
	padding-left: 25px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

nav dd.no-bullet a {
	background: 0;
	padding-left: 0;
}

nav dl dd::first-letter {
	font-weight: 700;
}

nav a:hover {
	text-decoration: underline;
	color: white;
}

nav dl dt {
	background-color: rgb(130, 29, 6);
	color: rgb(221, 221, 0);
	font-weight: 700;
	border-radius: 15px 15px 0 0;
	background-clip: padding-box;
	height: 34px;
	padding-left: 24px;
	padding-right: 24px;
	text-align: left;
	line-height: 3.3;
	font-size: 7.5pt;
}

nav dl dd {
	margin: 0;
	padding: 4px 8px 4px 19px;
}

.monkey {
	height: 280px;
}
