@import 'vendor/normalize'; // Reset CSS, always load first.

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'theme/scummvm';

@import 'base/base';

@import 'layout/menu';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/grid';
@import 'layout/shame';

@import 'components/box';
@import 'components/roundbox';
@import 'components/toc';
@import 'components/cookie';

@import 'pages/chart';
@import 'pages/compatibility';
@import 'pages/credits';
@import 'pages/downloads';
@import 'pages/faq';
@import 'pages/links';
@import 'pages/screenshots';

@import 'sprites/games';
@import 'sprites/platforms';

@import 'vendor/baguetteBox.min';
