# Platform specific files
.DS_Store

# Node
/node_modules

# Composer
/vendor

# CSS / SCSS
/css
.sass-cache/
*.css.map
*.sass.map
*.scss.map
/scss/sprites

# Generated images
/images/platforms.png
/images/games.png
/images/platforms@2x.png
/images/games@2x.png

# Generated lang ini
/lang/*.ini
/lang/po

# Webhook files
/site-update/webhook.log
