# Platform specific files
.DS_Store

# Node
/node_modules

# Composer
/vendor

# Smarty
/templates/compiled

# CSS / SCSS
/public_html/css
.sass-cache/
*.css.map
*.sass.map
*.scss.map
/scss/sprites

# Generated images
/public_html/images/platforms.png
/public_html/images/games.png
/public_html/images/platforms@2x.png
/public_html/images/games@2x.png

# Generated lang ini
/data/*/strings.ini

/data/*/news/*.markdown
!/data/en/news/*.markdown

# Webhook files
/site-update/webhook.log

# Others
public_html/frs

# Clear cache instruction
.clear-cache
.no-cache
