/include/smarty/template_c
/templates_c
.DS_Store
/css
.sass-cache/
*.css.map
*.sass.map
*.scss.map
/vendor
/scss/sprites
/images/platforms.png
/images/games.png
/images/platforms@2x.png
/images/games@2x.png
