# Enable mod_rewrite
RewriteEngine On

# Set the base for the rewritten URLs
# NOTE: When debugging locally, set this to the directory the site is in
RewriteBase /

##
# Images linked directly from the wiki need to work
##
RewriteRule		^screenshots/(.+)\.(jpg|png)$								data/screenshots/$1.$2 [NS,L]

##
# Forward old page requests to the new fancy URLs
##
# Compatibility page, with args
RewriteCond		%{QUERY_STRING}												version=(DEV|[0-9\.rc]+)(&details=(.+))?
RewriteRule		^compatibility\.php$										compatibility/%1/%3/? [NS,R=301]
# Documentation page, with args
RewriteCond		%{QUERY_STRING}												view=md5
RewriteRule		^documentation\.php$										documentation/md5sums/? [NS,R=301]
# News page, with args
RewriteCond		%{QUERY_STRING}												shownews=([0-9]{8}).xml [OR]
RewriteCond		%{QUERY_STRING}												shownews=(archive)
RewriteRule		^(index\.php)?$												news/%1/? [NS,R=301]
# Feeds (not pretty)
RewriteRule		^feed-(atom|rss)(20)?.php$									feeds/$1/? [NS,R=301]
# Other pages, without args
RewriteRule	^(.+)\.php$														$1/? [NS,R=301]


##
# Basic rewrite
##
RewriteRule		^([a-z]+)/?$												?p=$1
 
##
# Compatibility
##
RewriteRule		^(compatibility)(/(DEV|[0-9\.rc]+)(/([^/]+))?)?/?$			?p=$1&v=$3&t=$5 [L]

##
# Documentation
##
RewriteRule		^(documentation)(/([^/]+))?/? 								?p=$1&d=$3 [L]

##
# Feeds
##
RewriteRule		^(feeds)/(atom|rss)/?										?p=$1&f=$2 [L]

## 
# News
##
RewriteRule		^(news)(/([0-9]{8}[a-z]?|archive))?/?$							?p=$1&d=$3 [L]

##
# Screenshots
##
RewriteRule		^(screenshots)(/([a-z]+)(/([-_a-z0-9]+)(/([0-9]+))?)?)?/?		?p=$1&cat=$3&game=$5&num=$7 [L]
