.download-list {
	list-style-type: none;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
}

.download-list a, .download-list a:visited {
	color: #000;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}

.download-list a:hover { color: #f00; }

.download-list li {
	padding: 3px;
}

.download-list img {
	vertical-align: middle;
}

.download-extras {
	color: #85b132;
	font-size: 10px;
}
