table.intro {
	/*	border-spacing:8px;	*/
	vertical-align: bottom;
	/*	border:background:#fff; */
	/*	width:452px;	*/
}

.intro td.sshots { padding: 0 4px 0 8px; }

.intro .intro { padding: 0 8px 0 4px; }

.intro .intro .tlc {
	width: 8px;
	background: url('images/header-left-corner.gif');
	height: 28px;
}

.intro .intro .trc {
	width: 8px;
	background: url('images/header-right-corner.gif');
	height: 28px;
}

.intro .intro h2 {
	margin: 0px;
	color: #356a02;
	font-weight: bold;
	padding-left: 1em;
	font-family: "Trebuchet MS",Verdana,Tahoma,sans-serif;
	font-size: 18px;
}

.intro .intro .content {
	border-left: 1px solid #ebb716;
	border-right: 1px solid #ebb716;
	background: #fff;
	padding: 0 10px 0 10px;
}

.intro .intro .blc {
	width: 8px;
	height: 28px;
	background: url('images/left-low-corner.gif');
}

.intro .intro .brc {
	width: 8px;
	height: 28px;
	background: url('images/right-low-corner.gif');
}

.intro .intro .bm {
	border-bottom: 1px solid #ebb716;
	background: #fff;
	text-align: right;
}

.sshots td { text-align: center; }

.sshots {
	vertical-align: bottom;
	width: 151px;
}

.sshots h2 {
	margin: 0px;
	color: #356a02;
	font-weight: bold;
	padding-left: 1em;
	font-family: "Trebuchet MS",Verdana,Tahoma,sans-serif;
	font-size: 16px;
}

.sshots a {
	color: #356a02;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	text-transform: lowercase;
}

.sshots .tlc {
	background:url('images/header-left-solid.gif');
	height:28px;
	width:8px;
}
.sshots .heading {
	background:#f7e19e;
	border-top:1px solid #ebb716;
}
.sshots .trc {
	background:url('images/header-right-solid.gif');
	height:28px;	
	width:8px;
}
.sshots .content-wrap {
	border-left:1px solid #ebb716;
	border-right:1px solid #ebb716;
	background:#f7e19e;
}
.sshots .content-wrap table {
	margin-right:auto;
	margin-left:auto;
}
.sshots .blc {
	background:url('images/shots-corner-left.gif');
	height:26px;
	width:7px;
}
.sshots .brc {
	background:url('images/shots-corner-right.gif');
	height:26px;
	width:7px;
}
.sshots .nav-prev {
	background:#f7e19e;
	border-bottom:1px solid #ebb716;
	text-align:left;
}
.sshots .nav-next {
	background:#f7e19e;
	border-bottom:1px solid #ebb716;
	text-align:right;
}
.sshots .foot {
	padding:0px;
}
.sshots .foot table {
	border-spacing:0px;
	padding:0px;
}
