.linklist {
	margin-left: 3em;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.linklist .linkentry {
	margin-bottom: 1em;
}

.linklist .linkentry .linkhead {
	font-weight: bold;
}

.linklist .linkentry .linkbody {
	padding: 5px 5px 5px 3em;
}

