parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	stubFiles:
		- stubs/altorouter.stub
	bootstrapFiles:
		- include/Constants.php
	paths:
		- public_html/index.php
		- include/
	excludePaths:
		analyse:
			- include/OrmObjects/Map/*
			- include/OrmObjects/Base/*
	universalObjectCratesClasses:
		- Spatie\YamlFrontMatter\Document
	dynamicConstantNames:
		- DEV_SERVER
