.par-item .par-scr-content-cat0 {
	margin: 0px;
	margin-right: -8px;
	background-image: url('images/bg-lec-games.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0 0 0 20px;
}

.par-item .par-scr-content-cat1 {
	margin: 0px;
	margin-right: -8px;
	background-image: url('images/bg-he-games.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0 20px 0 20px;
}

.par-item .par-scr-content-cat2 {
	margin: 0px;
	margin-right: -8px;
	background-image: url('images/bg-other-games.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0 20px 0 20px;
}

.par-item .par-scr-content-cat3 {
	margin: 0px;
	margin-right: -8px;
	background-image: url('images/bg-lec-games.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0 0 0 20px;
}

.par-item .cat-link:first-letter {
	font-weight:bold;
}

.par-item .cat-link a:first-letter {
	font-weight:bold;
}
