/* Body Document Defaults */
BODY 		{ background-color: #6699CC; color: #000000; margin: 0px; }

/* Link Colors */
A		{ color: #A50D0D; font-family: Helvetica, Arial, sans-serif; font-size: 10pt; }
A:hover		{ color: #FF6666; }
A:active	{ color: #FF0000; }

/* General Colors */
OL,UL,P,BODY	{ font-family: Helvetica, Arial, sans-serif; font-size: 10pt; }
TD,TR,TH,FORM	{ font-family: Helvetica, Arial, sans-serif; font-size: 10pt; }
SPAN		{ font-family: Helvetica, Arial, sans-serif; font-size: 10pt; }
H1,H2,H3	{ font-family: Helvetica, Arial, sans-serif; font-size: 14pt; }
H4,H5,H6	{ font-family: Helvetica, Arial, sans-serif; font-size: 12pt; }
INPUT		{ font-family: Helvetica, Arial, sans-serif; font-size: 10pt; }
PRE,T1		{ font-family: Helvetica, Arial, sans-serif; font-size: 10pt; }
SMALL		{ font-family: Helvetica, Arial, sans-serif; font-size: 8pt; }

/* query row colors */
.color0		{ background-color: #E0E0E0 }
.color1		{ background-color: #C0C0C0 }
.color2		{ background-color: #FFFFFF }
.color3		{ background-color: #73106b }
.color4		{ background-color: #999999 }

/* box */
.box-title	{ background-color: #AAAAAA; color: #FFFFFF; font-weight: bold }
.box-label	{ background-color: #C0C0C0 }
.box-body	{ background-color: #E0E0E0 }

/* Menu Config */
.menuTitle	{ font-family: Helvetica, Arial, sans-serif; font-size: 8pt; color: #ffffff; font-weight: bold; }
.menuItem 	{ font-family: Helvetica, Arial, sans-serif; font-size: 10pt; color: #ffffff; }
.topMenu	{ background-color: #73106b; background-image: url('images/topmenu_bg.png'); }
.sideMenu	{ background-color: #52208b; background-image: url('images/sidebar_bg.png'); }

/* Misc */
.small		{ font-family: Helvetica, Arial, sans-serif; font-size: 8pt; color: #ffffff; }
TD.label	{ font-weight: bold }

/* Copyright */
.copyright	{ font-family: Helvetica, Arial, sans-serif; font-size: 8pt; color: #FFFFFF; }

/* Generic Buttons */
.button		{ background-color: #666666; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 10pt;
              groove: #000000; padding: 0; }

/* Hidden Field */
.hiddenfield	{ background-color: #ffffff; color: #666666; font-family: Helvetica, Arial, sans-serif; font-size: 10pt;
                  groove: #ffffff; padding: 0; }

/* Percentage Colors */
.pct0   	{ background-color: #ff5050; }
.pct5   	{ background-color: #ff5d4f; }
.pct10  	{ background-color: #ff694e; }
.pct15  	{ background-color: #ff764d; }
.pct20  	{ background-color: #ff824b; }
.pct25  	{ background-color: #ff8f4a; }
.pct30  	{ background-color: #ff9b49; }
.pct35  	{ background-color: #ffa848; }
.pct40  	{ background-color: #ffb447; }
.pct45  	{ background-color: #ffc146; }
.pct50  	{ background-color: #ffcd45; }
.pct55  	{ background-color: #ffda43; }
.pct60  	{ background-color: #ffe642; }
.pct65  	{ background-color: #fff341; }
.pct70  	{ background-color: #ffff40; }
.pct75		{ background-color: #dcff48; }
.pct80		{ background-color: #c8ff50; }
.pct85		{ background-color: #b4ff58; }
.pct90		{ background-color: #a0ff60; }
.pct95		{ background-color: #8cff60; }
.pct100		{ background-color: #60ff60; }

/* from here down is stuff for the scumm reference guide */

TABLE.bitfield TH {
        text-align: center;
        font-family: "Arial", helvetica, sans-serif;
        font-size: smaller;
}
 
TABLE.bitfield TD {
        border: 1px solid #000000;
        text-align: center;
        font-family: "Arial", helvetica, sans-serif;
        font-size: smaller;
}

DIV.opcode {
        background-color: #FAFAFA;
        border: 2pt solid #000000;
        padding: 0.5em;
        margin-top: 1em;
}

DIV.opcode H2 {
        position: top;
        float: right;
        font-family: "Arial", helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-top: 0em;
}

DIV.opcode H3 {
        margin-top: 0em;
        font-family: "Arial", helvetica, sans-serif;
        font-size: large;
        position: top;
        font-weight: normal;
}

DIV.opcode H5 {
        margin-top: 0em;
        font-family: monospace;
        white-space: pre;
        margin: 0 0;
}

PRE.box {
	font-family: courier;
	font-size: small;
	white-space: pre;
	border: 2pt solid #000000;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
	background-color: #F0F0F0;
}

TABLE.list TH {
        background-color: #A0A0A0;
        text-align: center;
        font-family: "Arial", helvetica, sans-serif;
        font-size: smaller;
}

TABLE.list CAPTION {
        text-align: center;
        font-family: "Arial", helvetica, sans-serif;
        font-size: small;
        width: 100%;
}

TABLE.list TD {
        background-color: #F0F0F0;
        text-align: center;
        font-family: "Arial", helvetica, sans-serif;
        font-size: smaller;
}

