body, table {
	font-family: verdana,tahoma,arial,helvetica,sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

body {
	background-color: #efc418;
	background-image: url('images/body-bg.png');
	background-repeat: repeat-x;
	margin-top: 0px;
}

table {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table.main-container {
	margin-left: auto;
	margin-right: auto;
}

a { color: #a33; }

a:hover {
	color: #f00;
	text-decoration: none;
}

td {
	padding: 0px;
	margin: 0px;
}

img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.header-inside td {
	line-height: 2px;
	padding: 0px;
	vertical-align: top;
}

td.content {
	background: #fbf1ce;
	background-image: url('images/content-bg.jpg');
	background-repeat: no-repeat;
	width: 100%;
}

.menu {
	margin-left: 0px;
	width: 145px;
	overflow: hidden;
	margin-bottom: 8px;
}

.menu tbody td {
	background: #a82709;
	color: #fff;
}

.menu tfoot td { background: transparent; }

.menu ul {
	margin: 0px;
	padding: 0px 0px 0px 30px;
	list-style-image: url('images/bullet.gif');
}

.menu li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.menu li:first-letter {
	font-weight:bold;
}

.menu a {
	color: #fff;
	text-decoration: none;
}

.menu a:hover { color: #ff0; }

.menu th {
	color: #dd0;
	text-align: left;
	padding-left: 24px;
	background-repeat: no-repeat;
	/*	background:url('images/menu-bg.gif'); */
	height: 33px;
	vertical-align: middle;
	font-size: 10px;
}

.menu-main th { background: url('images/menu-main.gif'); }
.menu-docs th { background: url('images/menu-misc.gif'); }
.menu-sf th { background: url('images/menu-sf.gif'); }
.menu-misc th { background: url('images/menu-misc.gif'); }

td.menus {
	background: url('images/menus-cont-bg.gif');
	background-repeat: repeat-y;
	width: 145px;
	vertical-align: top;
	padding: 0px;
}

.par-item {
	border: 1px solid #c0c0c0;
	border-top: 0px;
	font-size: 10px;
	background: #e8e7e7;
	margin-bottom: 8px;
}

.par-item .par-head {
	color: #fff;
	font-weight: bold;
	background: #a82709;
	background-image: url('images/par-head.png');
	background-repeat: repeat-x;
	padding: 4px;
	font-size: 11px;
	margin: 0px;
	border: 0px;
}

.par-item .par-head a {
	color: #fff;
	text-decoration: none;
}

.par-item .par-subhead {
	color: #a82709;
	font-weight: bold;
	padding-left: 20px;
}

.par-item .par-subhead a, .par-item .par-subhead a:visited { text-decoration: none; }

.par-item .par-subhead-dots {
	background-image: url('images/subhead-dots.gif');
	background-repeat: repeat-x;
	margin-top: 3px;
	margin-left: 15px;
	margin-right: 15px;
}

.par-item .par-content {
	margin: 0px;
	padding: 0 8px 0 8px;
}

.par-item .par-subhead-content {
	margin: 0px;
	padding: 0 20px 0 20px;
}

.par-item .par-intro {
	background: #c0c0c0;
	padding: 0 8px 0 5px;
}

.par-item .cat-link, .par-item .cat-bullet {
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
}

.par-item .cat-link a, .par-item .cat-link a:visited {
	color: #000;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}

.par-item .cat-link a:hover { color: #f00; }

.par-item .cat-count {
	color: #85b132;
	font-size: 10px;
}

.navigation {
	color: #000;
	font-size: 10px;
	font-weight: bold;
	padding-left: 20px;
}

.navigation .nav-dots {
	background-image: url('images/nav-dots.gif');
	background-repeat: repeat-x;
	margin-top: 3px;
	margin-right: 15px;
}

.navigation a, .navigation a:visited {
	color: #406a04;
	font-weight: normal;
	text-decoration: none;
}

.navigation a:hover { color: #f00; }

.navigation .nav-item {
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
}

.navigation .nav-bullet {
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	width: 14px;
}

.newsdate { font-weight: normal; }

.bottom-link a {
	display: block;
	text-align: right;
	color: #a82709;
	font-weight: bold;
	text-decoration: none;
}

.news-author, .document-time {
	text-align: right;
	font-style: italic;
	color: #777777;
}

.legal, .legal a, .legal a:visited { color: #b9970e; }
.legal { text-align: right; }

.shadow-container {
	position: relative;
	left: 1px;
	top: 1px;
}

.shadow-text {
	position: absolute;
	left: -2px;
	top: -2px;
}

.shadow-text-em {
	position: absolute;
	left: -2px;
	top: -2px;
	padding-left: 1em;
}

.md5-table td {
	margin: 3px;
	padding: 4px;
}

.md5 {
	font-family: "Lucida Console", monospace;
	font-size: 9pt;
}

.credits-table td {
	margin: 3px;
	padding: 4px;
	font-size: 9pt;
}

/* query row colors */
.color0 { background-color: #E0E0E0; }
.color1 { background-color: #C0C0C0; }
.color2 { background-color: #FFFFFF; }
.color4 { background-color: #999999; }

/* Frames */
.frame {
	background-color: #fff;
	margin: 0 auto;
	font-size: 8pt;
}

.frame td {
	padding: 2px;
	margin: 2px;
	border: 1px solid #c0c0c0;
}

.frame a, .frame a:visited {
	color: #000;
	font-weight: normal;
	font-size: 10px;
	text-decoration: none;
}

.frame a:hover { color: #f00; }

.frameTitle {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}

.frameBody { padding: 1em 2em; }

.frameTop {
	text-align: center;
	background-color: #a82709;
	background-image: url('images/table-head.png');
}

.frameBottom {
	text-align: center;
	background-color: #a82709;
	background-image: url('images/table-head.png');
}

/* Percentage Colors */
.pct0 { background-color: #ff5050; }
.pct5 { background-color: #ff5d4f; }
.pct10 { background-color: #ff694e; }
.pct15 { background-color: #ff764d; }
.pct20 { background-color: #ff824b; }
.pct25 { background-color: #ff8f4a; }
.pct30 { background-color: #ff9b49; }
.pct35 { background-color: #ffa848; }
.pct40 { background-color: #ffb447; }
.pct45 { background-color: #ffc146; }
.pct50 { background-color: #ffcd45; }
.pct55 { background-color: #ffda43; }
.pct60 { background-color: #ffe642; }
.pct65 { background-color: #fff341; }
.pct70 { background-color: #ffff40; }
.pct75 { background-color: #dcff48; }
.pct80 { background-color: #c8ff50; }
.pct85 { background-color: #b4ff58; }
.pct90 { background-color: #a0ff60; }
.pct95 { background-color: #8cff60; }
.pct100 { background-color: #60ff60; }
