/* Body Document Defaults */
body {
	background-color: #6699CC;
	margin: 0px;
}

p, body, td, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

/* General stuff */
H1			{ font-size: 12pt; }
PRE			{ font-family: Lucida Console, monospace; font-size: 10pt; }
SMALL		{ font-size: 8pt; }

/* Link Colors */
a			{ color: #A50D0D; }
a:hover		{ color: #FF6666; }
a:active	{ color: #FF0000; }

/* no borders for images */
img { border: 0px; }

/* draw a line below the h1/h2/h3 elements */
h1, h2		{
	background-image: url(images/grey_pixel.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: 1px;
}

/* news items */
.news-item .news-header	{
	font-weight: bold;
	font-size: medium;
	background-image: url(images/grey_pixel.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: 1px;
}

.news-item  .news-header .date	{
	font-style: normal;
	color: #666666;
}

.news-item .news-body	{
	margin: 1em 40px 2em 40px;
}

/* query row colors */
.color0		{ background-color: #E0E0E0 }
.color1		{ background-color: #C0C0C0 }
.color2		{ background-color: #FFFFFF }
.color3		{ background-color: #73106b }
.color4		{ background-color: #999999 }

/* Menu Config */
.menuTitle	{ font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #ffffff; font-weight: bold; }
.menuItem 	{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #ffffff; }
.topMenu	{ background-color: #73106b; background-image: url('images/topmenu_bg.png'); }

/* Side menus */
.sideMenu {
	color: white;
	background-color: #52208b;
	background-image: url('images/sidebar_bg.png');
	width: 120px;
	text-align: left;
}
.sideMenu a { color: white; }
.sideMenu .header {
	background-color: #73106b;
	background-image: url('images/topmenu_bg.png');
	font-size: 8pt;
	font-weight: bold;
	padding-left: 0.5ex;
	margin-bottom: 8px;
}
.sideMenu .headerRight	{
	background-image: url('images/main_right_top.gif');
	background-repeat: no-repeat;
	background-position: right top;
}
.sideMenu .item			{
	font-size: 10pt;
	padding: 2px 2px 2px 0.5ex;
}
.sideMenu .footer		{
	padding-left: 0.5ex;
	height: 13px;
}
.sideMenu .footerRight	{
	background-image: url('images/main_right_bottom.gif');
	background-repeat: no-repeat;
	background-position: right bottom;
}

/* Copyright */
.copyright	{
	width: 45ex;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
	text-align: justify;
	float: right;
	padding: 1%;
}
.copyright a { color: white; }

/* Percentage Colors */
.pct0   	{ background-color: #ff5050; }
.pct5   	{ background-color: #ff5d4f; }
.pct10  	{ background-color: #ff694e; }
.pct15  	{ background-color: #ff764d; }
.pct20  	{ background-color: #ff824b; }
.pct25  	{ background-color: #ff8f4a; }
.pct30  	{ background-color: #ff9b49; }
.pct35  	{ background-color: #ffa848; }
.pct40  	{ background-color: #ffb447; }
.pct45  	{ background-color: #ffc146; }
.pct50  	{ background-color: #ffcd45; }
.pct55  	{ background-color: #ffda43; }
.pct60  	{ background-color: #ffe642; }
.pct65  	{ background-color: #fff341; }
.pct70  	{ background-color: #ffff40; }
.pct75		{ background-color: #dcff48; }
.pct80		{ background-color: #c8ff50; }
.pct85		{ background-color: #b4ff58; }
.pct90		{ background-color: #a0ff60; }
.pct95		{ background-color: #8cff60; }
.pct100		{ background-color: #60ff60; }

/* from here down is stuff for the scumm reference guide */

TABLE.bitfield TH {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
}
 
TABLE.bitfield TD {
        border: 1px solid #000000;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
}

DIV.opcode {
        background-color: #FAFAFA;
        border: 2pt solid #000000;
        padding: 0.5em;
        margin-top: 1em;
}

DIV.opcode H2 {
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-top: 0em;
}

DIV.opcode H3 {
        margin-top: 0em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: normal;
}

DIV.opcode H5 {
        margin-top: 0em;
        font-family: monospace;
        white-space: pre;
        margin: 0 0;
}

PRE.box {
	font-family: courier, monospace;
	font-size: small;
	white-space: pre;
	border: 2pt solid #000000;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
	background-color: #F0F0F0;
}

TABLE.list TH {
        background-color: #A0A0A0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
}

TABLE.list CAPTION {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        width: 100%;
}

TABLE.list TD {
        background-color: #F0F0F0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
}
