.chart {
  border: 0;
  border-spacing: 0;
  margin: 0px auto 1em;
  padding: 0;
  width: 95%;
  caption {
    background: $theme-chart-caption-background;
    color: $theme-chart-caption-header;
    font-weight: bold;
    margin: 0 auto;
  }
  a {
    color: $theme-chart-link;
    text-decoration: none;
    &:hover {
      color: lighten($theme-link, 20%);
    }
  }
  tr, th, td {
    margin: 0;
    padding: 2px;
  }
  th, td {
    border: 1px solid $theme-chart-border;
  }
  th {
    font-weight: normal;
    text-align: left;
  }
  td.details {
    padding: 1em 3em;
  }
  tr {
		&.color0 {
			background-color: $theme-chart-row-odd;
		}
		&.color2 {
			background-color: $theme-chart-row-even;
		}
  }	
  thead {
    background-color: $theme-chart-head-background;
  }
}

.gameDemos {
  tr {
    padding: 0;
  }
  th {
    padding: 2px;
  }
  td {
    padding: 0px 2px;
    img {
      &.downloadImage {
        vertical-align: middle;
        width: 22px;
        height: 22px;
      }
      &.noSubcat {
        vertical-align: middle;
        width: 14px;
        height: 14px;
      }
      &.subcatToggle {
        vertical-align: middle;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }
    }
  }
  .gameTarget {
    width: 15%;
  }
}
