@use "sass:color";

.chart-wrapper {

  span {
    border: 0;
    border-spacing: 0;
    padding: 5px;
    width: 95%;
    display: block;

    font-weight: bold;
    margin: 0 auto;
    text-align: center;

    @include themify($themes) {
      background: themed("chart-caption-background");
      color: themed("chart-caption-header");
    }
  }
}

.chart {
  border: 0;
  border-spacing: 0;
  margin: 0px auto 1em;
  padding: 0;
  width: 95%;
  caption {
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;

    @include themify($themes) {
      background: themed("chart-caption-background");
      color: themed("chart-caption-header");
    }
  }
  a {
    text-decoration: none;
    @include themify($themes) {
      color: themed("chart-link");
    }
    &:hover {
      @include themify($themes) {
        color: hex-color(color.adjust(themed("link"), $lightness: 20%, $space: hsl));
      }
    }
  }
  tr,
  th,
  td {
    margin: 0;
    padding: 2px;
  }
  th,
  td {
    padding: 5px;
    @include themify($themes) {
      border: 1px solid themed("chart-border");
    }
  }
  th {
    font-weight: normal;
    text-align: center;
  }
  td.details {
    padding: 1em 3em;
  }
  tr {
    &.color0 {
      @include themify($themes) {
        background-color: themed("chart-row-odd");
      }
    }
    &.color2 {
      @include themify($themes) {
        background-color: themed("chart-row-even");
      }
    }
  }
  thead {
    @include themify($themes) {
      background-color: themed("chart-head-background");
    }
  }
}

.gameDemos {
  tr {
    padding: 0;

    &.collapse {
      display: none;
    }
    &.sub td a {
      margin-left: 1em;
    }
  }
  th {
    padding: 5px;
  }
  td {
    padding: 5px;
    img {
      &.downloadImage {
        vertical-align: middle;
        width: 22px;
        height: 22px;
      }
      &.noSubcat {
        vertical-align: middle;
        width: 14px;
        height: 14px;
      }
      &.subcatToggle {
        vertical-align: middle;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }
    }
  }
  .gameTarget {
    width: 15%;
  }

  i.expand {
    margin: 5px;
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
    float: $end-direction;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $tentacle-green;
      transition: transform 0.25s ease-out;
    }

    &:before {
      top: 0;
      left: 50%;
      width: 4px;
      height: 100%;
      margin-left: -2px;
    }

    /* horizontal line */
    &:after {
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      margin-top: -2px;
    }

    &.close {
      &:before {
        transform: rotate(90deg);
      }
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}
