.colorKeyTable {
	td {
		text-align: center;
		padding: 5px;
	}
}

.gameSupportLevel,
.gameEngine,
.gameShortName,
.gameDatafiles {
	width: 15%;
	text-align: center;
}

/* Percentage Colors */
.pctU {
	background-color: #77ffff;
}

@for $i from 0 through 4 {
	.pct#{$i*25} {
		background-color: adjust-hue(hsl(0, 100%, (66-$i) + 0%), $i * 4.5 * 5);
	}
}
