p.credits {
  margin-left: 2em;
  margin-right: 2em;
}

table.credits {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  caption {
    font-weight: bold;
    margin-left: -2em;
    text-align: left;
  }
}

.credits {
  .name {
    padding: 2px;
    width: 13em;
  }
  .alias {
    text-align: left;
    width: 10em;
    color: rgb(119, 119, 119);
    font-style: italic;
  }
}
