@use "abstracts/helpers";
@use "abstracts/mixins";
@use "abstracts/variables";

@use "sass:color";

ul.downloads {
	li.file {
		list-style-type: none;
		padding: 3px;
	}
	span.download-extras {
		font-size: x-small;
		@include mixins.themify() {
			color: mixins.themed("subscript");
		}
	}
	li.link {
		margin-left: 1.5em;
	}
}

#downloadContainer {
	position: relative;
	width: 100%;
	max-width: 600px;
	min-height: 110px;

	@include mixins.respond-to("small") {
		text-align: center;
	}

	#downloadButton {
		min-height: 53px;
		float: left;
		width: 100%;
		padding: 15px;
		border-radius: 8px;
		box-shadow: 0 0 10px variables.$black;
		text-decoration: none;
		@include mixins.themify() {
			color: mixins.themed("download-text");
			border: 1px solid mixins.themed("download-text");
			$download-background: mixins.themed("download-background");
			background: $download-background
				linear-gradient(to bottom,
					helpers.hex-color(color.adjust($download-background, $lightness: 40%, $space: hsl)) 0%,
					$download-background 100%);
		}
		img {
			display: block;
			float: left;
			margin: 0 auto;

			@include mixins.respond-to("small") {
				float: none;
			}
		}
		&:hover {
			@include mixins.themify() {
				$download-background: mixins.themed("download-background");
				background: helpers.hex-color(color.adjust($download-background, $lightness: 40%, $space: hsl))
					linear-gradient(
						to bottom,
						helpers.hex-color(color.adjust($download-background, $lightness: 50%, $space: hsl))  0%,
						helpers.hex-color(color.adjust($download-background, $lightness: 40%, $space: hsl)) 35%,
						$download-background 100%
					);
			}
		}

		.downloadText {
			font-size: 2em;
			line-height: 1.3em;
			padding-bottom: 6px;
			display: block;
		}
	}
}

ul.downloads {
	margin: 0;
	padding: 0;
}

.sha256-toggle {
	text-decoration: underline;
	cursor: pointer;
}
