ul.downloads {
  li.file {
    list-style-type: none;
    padding: 3px;
  }
  span.download-extras {
    color: $theme-subscript;
    font-size: x-small;
  }
  li.link {
    margin-left: 1.5em;  
  }
}

span.daily_provider {
  display: block;
  font-size: 90%;
  padding-left: 3em;
}

#downloadContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 110px;

  @include respond-to('small') {
		text-align: center;
	}

	#downloadButton {
		min-height: 53px;
		float: left;
		margin-bottom: 30px;
		width: 100%;
		padding: 15px;
		color: $theme-download-text;
		border-radius: 8px;
		border: 1px solid $theme-download-text;
		box-shadow: 0 0 10px $black;
		text-decoration: none;
		background: $theme-download-background linear-gradient(to bottom, lighten($theme-download-background, 40%) 0%, $theme-download-background 100%);;;  
		img {
			display: block;
			float: left;
			margin: 0 auto;
	
			@include respond-to('small') {
				float: none;
			}
		}
		&:hover {
			background: lighten($theme-download-background, 40%) linear-gradient(to bottom, lighten($theme-download-background, 50%) 0%, lighten($theme-download-background, 40%) 35%, $theme-download-background 100%);
		}
		
		.downloadText {
			font-size: 2em;
			line-height: 1.3em;
			padding-bottom: 6px;
			display: block;
		}
	}
}

ul.downloads {
  margin: 0;
  padding: 0;
}
