ul.downloads {
	li.file {
		list-style-type: none;
		padding: 3px;
	}
	span.download-extras {
		font-size: x-small;
		@include themify($themes) {
			color: themed("subscript");
		}
	}
	li.link {
		margin-left: 1.5em;
	}
}

#downloadContainer {
	position: relative;
	width: 100%;
	max-width: 600px;
	min-height: 110px;

	@include respond-to("small") {
		text-align: center;
	}

	#downloadButton {
		min-height: 53px;
		float: left;
		width: 100%;
		padding: 15px;
		border-radius: 8px;
		box-shadow: 0 0 10px $black;
		text-decoration: none;
		@include themify($themes) {
			color: themed("download-text");
			border: 1px solid themed("download-text");
			$download-background: themed("download-background");
			background: $download-background
				linear-gradient(to bottom, lighten($download-background, 40%) 0%, $download-background 100%);
		}
		img {
			display: block;
			float: left;
			margin: 0 auto;

			@include respond-to("small") {
				float: none;
			}
		}
		&:hover {
			@include themify($themes) {
				$download-background: themed("download-background");
				background: lighten($download-background, 40%)
					linear-gradient(
						to bottom,
						lighten($download-background, 50%) 0%,
						lighten($download-background, 40%) 35%,
						$download-background 100%
					);
			}
		}

		.downloadText {
			font-size: 2em;
			line-height: 1.3em;
			padding-bottom: 6px;
			display: block;
		}
	}
}

ul.downloads {
	margin: 0;
	padding: 0;
}

.sha256-toggle {
	text-decoration: underline;
	cursor: pointer;
}
