.random-screenshot {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.scr-content {
  padding-left: 20px;
}

.gallery {
	text-align: center;

	.caption {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 38px;
    display: inline-block;
    text-align: center;
    width: 100%;
	}
}
