.random-screenshot {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.scr-content {
  padding-left: 20px;
}

.screenshot {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  margin: 4px;
  width: 215px;
  height: auto;
  background: #ccc;
  img {
    width: 100%;
    height: auto;
  }
}

.gallery {
  text-align: center;
  .subhead {
    text-align: left;
  }
}
