.random-screenshot {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.scr-content {
  padding-left: 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
