$theme-menu-title-background: #43a25c;
$theme-menu-background: #398b4c;
$theme-wrapper-topper: #b5d7bd;
$theme-round-container-title-background: #b5d7bd linear-gradient(to top, lighten(desaturate(#b5d7bd, 36.50), 17.25) 0%, lighten(desaturate(#b5d7bd, 36.50), 12.35) 35%, #b5d7bd 100%);
$theme-container-title-background: #45a63d linear-gradient(to bottom, lighten(desaturate(#45a63d, 41.38), 27.25) 0%, lighten(desaturate(#45a63d, 36.50), 12.35) 35%, #45a63d 100%);
$theme-background: #6699cc;
$theme-download-background: #398b4c;
$theme-round-container-border: #43a25c;
