$theme-menu-background: #6f43a4;
$theme-menu-title-background: linear-gradient(to bottom, rgb(115, 15, 107) 0%, rgb(163, 26, 156) 71%);
$theme-background: #6699cc;
$theme-container-title-background: $theme-menu-title-background;
$theme-download-background: #6f43a4;
$theme-round-container-title-background: #6f43a4;
$theme-round-container-header: $turbo;
$theme-round-container-header-shadow: unset;
$theme-wrapper-topper: $theme-menu-title-background;
