@use "abstracts/helpers";
@use "abstracts/variables";

@use "sass:color";

$themes: (
    scumm: (
        // Main elements
        background: variables.$tenn,
        text: variables.$black,
        fonts: ("verdana", "tahoma", "arial", "helvetica", sans-serif),
        link: variables.$kenyan-copper,
        light-link: variables.$white,
        wrapper-topper: variables.$marzipan,
        wrapper-background: variables.$double-pearl-lustra,
        // Header
        header-text: variables.$black,
        // Menu
        menu-title: variables.$turbo,
        menu-title-background: variables.$kenyan-copper,
        menu-background: variables.$totem-pole,
        menu-link: variables.$white,
        menu-shadow: variables.$cashmere,
        // Box containers
        container-title: variables.$white,
        container-title-background: variables.$totem-pole,
        container-sub-title: variables.$totem-pole,
        container-background: variables.$alto,
        container-navigation-background: variables.$silver,
        container-border: variables.$silver,
        container-navigation-link: variables.$japanese-laurel,
        container-navigation-bullet: variables.$double-pearl-lustra,
        // Round box containers
        round-container-title-background: variables.$marzipan,
        round-container-border: variables.$cashmere,
        round-container-headless-background: variables.$double-pearl-lustra,
        round-container-header: variables.$kenyan-copper,
        round-container-background: variables.$white,
        round-container-header-shadow: rgba(0, 0, 0, 0),
        // Charts
        chart-head-background: variables.$gray,
        chart-row-odd: variables.$alto,
        chart-row-even: variables.$white,
        chart-caption-background: variables.$totem-pole,
        chart-caption-header: variables.$white,
        chart-border: variables.$silver,
        // Misc elements
        table-of-contents: variables.$japanese-laurel,
        subscript: variables.$japanese-laurel,
        table-of-contents-bullet: variables.$double-pearl-lustra,
        // Download button
        download-background: variables.$kenyan-copper,
        download-text: variables.$white,
    ),
    residual: (
        menu-title-background: #43a25c,
        menu-background: #398b4c,
        wrapper-topper: #b5d7bd,
        round-container-title-background: #b5d7bd
            linear-gradient(
                to top,
                helpers.hex-color(color.adjust(#b5d7bd, $saturation: -36.5%, $lightness: 17.25%, $space: hsl)) 0%,
                helpers.hex-color(color.adjust(#b5d7bd, $saturation: -36.5%, $lightness: 12.35%, $space: hsl)) 35%,
                #b5d7bd 100%
            ),
        container-title-background: #45a63d
            linear-gradient(
                to bottom,
                helpers.hex-color(color.adjust(#45a63d, $saturation: -20%, $lightness: 27.25%, $space: hsl)) 0%,
                #45a63d 100%
            ),
        background: #6699cc,
        download-background: #398b4c,
        round-container-border: #43a25c,
        chart-caption-background: #398b4c,
    ),
    retro: (
        menu-background: #6f43a4,
        header-text: variables.$white,
        menu-title-background: linear-gradient(to bottom, rgb(115, 15, 107) 0%, rgb(163, 26, 156) 71%),
        background: #6699cc,
        container-title-background: linear-gradient(to bottom, rgb(115, 15, 107) 0%, rgb(163, 26, 156) 71%),
        download-background: #6f43a4,
        round-container-title-background: #6f43a4,
        round-container-header: variables.$turbo,
        round-container-header-shadow: unset,
        wrapper-topper: linear-gradient(to bottom, rgb(115, 15, 107) 0%, rgb(163, 26, 156) 71%),
        chart-caption-background: #6f43a4,
    ),
);
