@use "abstracts/mixins";
@use "abstracts/variables";

/* Footer */

footer {
  color: variables.$black-semi-transparent;
  padding: 15px 0;
  position: relative;
  a {
    color: variables.$black-semi-transparent;
    &:hover {
      color: variables.$black-semi-transparent;
      text-decoration: none;
    }
  }

  @include mixins.respond-to("small") {
    padding: 0 8px;
    background: rgb(251, 241, 206);
  }
}

.tentacle {
  height: auto;
  width: 100%;
  margin: 0 auto;
  max-width: 160px;
  position: absolute;
  bottom: -60px;
  @include mixins.themify() {
    filter: drop-shadow((-3px) 5px 1px mixins.themed("background"));
  }
}
