/* Grid */

.site-wrap {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  .col-4-5 {
    width: calc(100% - 135px);
  }
  
  .col-1-5 {
    width: 130px;
    position: relative;
  }
  
  .col-1-3 {
    width: 33.33%;
  }
  
  .col-2-3 {
    width: 66.66%;
  }
  
  .col-1-2 {
    width: 50%;
  }
  
  .col-1-1 {
    width: 100%;
  }
  
  [class*='col-'] {
    float: left;
    padding-right: 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  * {
    box-sizing: border-box;
    &:after, &:before {
      box-sizing: border-box;
    }
  }
