/* Grid */

.site-wrap {
	max-width: 1440px;
	position: relative;
	margin: 0 auto;
	padding: 0 50px;

	@include respond-to('small') {
		padding: 0;
		margin: 0;
	}
}

.col-4-5 {
	width: calc(100% - #{$nav-width - 10px});
}

.col-1-5 {
	width: $nav-width - 15px;
	position: relative;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-2 {
	width: 50%;
}

.col-1-1 {
	width: 100%;
}

[class*='col-'] {
	float: left;
	padding-right: 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
	&:after, &:before {
		box-sizing: border-box;
	}
}

@include respond-to('small') {
	.col-1-2 {
		clear: left;
		width: 100%;
	}
	[class*='col-'] {
		padding-right: 0;
	}
	.col-1-5 {
		width: 100%;
	}
	.col-4-5 {
		width: 100%;
	}
	.hide-small {
		display: none;
	}
	.col-sm-1 {
		width: 100%;
	}
	.col-md-2 {
		width: 50%;
	}
	.col-md-1 {
		width: 100%;
	}	
}

@include respond-to('medium') {
	/* CSS Rules targeting most tablets in vertical orientation */
	.hide-medium {
		display: none;
	}
	.col-md-2 {
		width: 50%;
	}
	.col-md-1 {
		width: 100%;
	}
}
