nav {
  width: $nav-width;
  position: relative;
  z-index: 0;
  font-size: 0.9em;
  dl {
    border-radius: 8px;
    background: $theme-menu-background;
    z-index: 20;
    margin: 8px 0 16px;
    &::after {
      content: "";
      display: block;
      position: relative;
      bottom: -3px;
      left: 4px;
      right: 10px;
      width: $nav-width - 14px;
      background-color: $theme-menu-shadow;
      height: 6px;
      z-index: -1;
      border-radius: 0 0 0 8px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .bullet {
    background: url('/images/bullet2.svg');
    background-size: contain;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    padding-left: 28px; 
	}
	a {
		color: $theme-menu-link;
    text-decoration: none;
	}
  dd.no-bullet a {
    background: 0;
    padding-left: 0;
  }
  dl dd::first-letter {
    font-weight: 700;
  }
  a:hover {
    text-decoration: underline;
    color: $theme-menu-link;
  }
  dl {
    dt {
      background: $theme-menu-title-background;
      color: $theme-menu-title;
      font-weight: 700;
      border-radius: 8px 8px 0 0;
      background-clip: padding-box;
      height: 34px;
      padding-left: 24px;
      padding-right: 24px;
      text-align: left;
      line-height: 34px;
      margin-bottom: 4px;
    }
    dd {
      margin: 0;
      padding: 4px 12px 6px 30px;
      text-indent: -25px;
      line-height: 14px;
    }
  }
}

.monkey .banners {
  height: 600px;
}

@include respond-to('small') {
  nav {
    position: fixed;
    width: 100%;
    right: -100%;
    top: 0;
    z-index: 90;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    background: $theme-menu-background;
    line-height: 50px;
    font-size: 1.2em;
    a {
      line-height: 50px;
      font-size: 1.2em;
    }
    dl {
      dt {
        line-height: 50px;
        font-size: 1.2em;
        height: 58px;
        line-height: 58px;
        padding: 4px 8px 4px 19px;
        text-indent: unset;
      }
      dd {
        height: 58px;
        line-height: 58px;
        padding: 4px 8px 4px 19px;
        text-indent: unset;
      }
      border-radius: 0;
      box-shadow: unset;
      margin: 0;
      padding-bottom: 1px;
      dt {
        border-radius: 0;
        box-shadow: unset;
        margin: 0;
        padding-bottom: 1px;
        padding-left: 19px;
        cursor: pointer;
        color: $theme-menu-link;
      }
      dd {
        padding-right: 0;
        display: none;
      }
    }
    a {
      background: 0;
      padding-left: 0;
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .header-right {
    display: none;
  }
  nav dl {
    dd:hover {
      background: $theme-menu-title-background;
    }
    &::after {
      height: 0;
    }
  }
}

// Repsonsive menu checkbox
.menu-trigger, .nav-trigger {
  display: none;
}

nav label {
	@include respond-to('small') {
		display: block;
		width: 100%;
		cursor: pointer;
	}
}

label[for="nav-trigger"] {
  display: none;
  position: absolute;
  right: 8px;
  top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url('/images/nav-trigger.svg');
	background-size: contain;
	
	@include respond-to('small') {
		display: block;
		z-index: 91;
		overflow-y: unset;
	}
}

.nav-trigger {
  &:checked ~ label[for="nav-trigger"] {
    position: fixed;
  }
  + label {
    transition: right 0.2s ease-in-out;
  }
}

.site-wrap, header, nav {
  transition: right 0.2s ease-in-out;
}

.nav-trigger:checked ~ .site-wrap nav {
  right: 0;
}

.menu-trigger:checked ~ dd {
  display: block;
}
