nav {
  width: $nav-width;
  position: relative;
  z-index: 0;
  font-size: 0.9em;
  direction: $direction;
  dl {
    border-radius: 8px;
    @include themify($themes) {
      background: themed("menu-background");
    }
    z-index: 20;
    margin: 8px 0 16px;
    &::after {
      content: "";
      display: block;
      position: relative;
      bottom: -3px;
      left: 4px;
      right: 10px;
      width: $nav-width - 14px;
      @include themify($themes) {
        background-color: themed("menu-shadow");
      }
      height: 6px;
      z-index: -1;
      border-radius: 0 0 0 8px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .bullet {
    background: url("/images/bullet2.svg");
    background-size: contain;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    padding-#{$start-direction}: 28px;

    @include respond-to("small") {
      display: none;
    }
  }
  a {
    @include themify($themes) {
      color: themed("menu-link");
    }
    text-decoration: none;
  }
  dl dd::first-letter {
    font-weight: 700;
  }
  a:hover {
    text-decoration: underline;
    @include themify($themes) {
      color: themed("menu-link");
    }
  }
  dl {
    dt {
      @include themify($themes) {
        background: themed("menu-title-background");
        color: themed("menu-title");
      }
      font-weight: 700;
      border-radius: 8px 8px 0 0;
      background-clip: padding-box;
      height: 34px;
      padding-#{$start-direction}: 24px;
      padding-#{$end-direction}: 24px;
      text-align: $start-direction;
      line-height: 34px;
      margin-bottom: 4px;
    }
    dd {
      margin: 0;
      padding: 4px 0 6px;
      padding-#{$end-direction}: 12px;
      padding-#{$start-direction}: 30px;
      text-indent: -25px;
      line-height: 14px;
    }
  }
}

.menu-bottom .banners {
  height: 600px;
}

.menu-bottom .monkey {
  image-rendering: pixelated;
  width: 54px;
  height: 58px;
}

@include respond-to("small") {
  nav {
    position: fixed;
    width: 100%;
    right: -100%;
    top: 0;
    z-index: 90;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    @include themify($themes) {
      background: themed("menu-background");
    }
    line-height: 50px;
    font-size: 1.2em;
    a {
      line-height: 50px;
      font-size: 1.2em;
    }
    dl {
      dt {
        line-height: 50px;
        font-size: 1.2em;
        height: 58px;
        line-height: 58px;
        padding: 4px 8px 4px 19px;
        text-indent: unset;
      }
      dd {
        height: 58px;
        line-height: 58px;
        padding: 4px 8px 4px 19px;
        text-indent: unset;
      }
      border-radius: 0;
      box-shadow: unset;
      margin: 0;
      padding-bottom: 1px;
      dt {
        border-radius: 0;
        box-shadow: unset;
        margin: 0;
        padding-bottom: 1px;
        padding-left: 19px;
        cursor: pointer;
        @include themify($themes) {
          color: themed("menu-link");
        }
      }
      dd {
        padding-right: 0;
        display: none;
      }
    }
    a {
      background: 0;
      padding-left: 0;
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .header-right {
    display: none;
  }
  nav dl {
    dd:hover {
      @include themify($themes) {
        background: themed("menu-title-background");
      }
    }
    &::after {
      height: 0;
    }
  }
}

// Repsonsive menu checkbox
.menu-trigger,
.nav-trigger {
  display: none;
}

nav label {
  @include respond-to("small") {
    display: block;
    width: 100%;
    cursor: pointer;
  }
}

label[for="nav-trigger"] {
  display: none;
  position: absolute;
  right: 8px;
  top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("/images/nav-trigger.svg");
  background-size: contain;

  @include respond-to("small") {
    display: block;
    z-index: 91;
    overflow-y: unset;
  }
}

.nav-trigger {
  &:checked ~ label[for="nav-trigger"] {
    position: fixed;
  }
  + label {
    transition: right 0.2s ease-in-out;
  }
}

.site-wrap,
header,
nav {
  transition: right 0.2s ease-in-out;
}

.nav-trigger:checked ~ .site-wrap nav {
  right: 0;
}

.menu-trigger:checked ~ dd {
  display: block;
}
