.box {
	margin: 8px;
	border: 1px solid $theme-container-border;
	> .head {
		background: $theme-container-title-background;
		min-height: 24px;
		color: $theme-container-title;
		font-weight: bold;
		padding: 4px;
		width: 100%;
		a {
			text-decoration: none;
			color: $theme-container-title;
		}
		.news-date {
			font-weight: normal;
		}
	}
	> .content {
		background: $theme-container-background;
		padding: 8px;
		.news-author {
			color: $gray;
			font-style: italic;
			margin: 0px 0px -8px 0px;
			position: relative;
			text-align: right;
			top: -8px;
		}
		&.news img {
			float: right;
			max-width: 100%;
		}
	}
	.intro {
		background: $theme-container-navigation-background;
		padding: 4px 8px 4px 5px;
	}
}
