.box {
	margin: 8px;
	direction: $direction;
	@include themify($themes) {
		border: 1px solid themed("container-border");
	}
	> .head {
		min-height: 24px;
		font-weight: bold;
		padding: 4px;
		width: 100%;

		@include themify($themes) {
			background: themed("container-title-background");
			color: themed("container-title");
		}
		a {
			text-decoration: none;
			@include themify($themes) {
				color: themed("container-title");
			}
		}
	}
	> .content {
		padding: 8px;

		@include themify($themes) {
			background: themed("container-background");
		}
	}
	.intro {
		padding: 4px 8px 4px 5px;

		@include themify($themes) {
			background: themed("container-navigation-background");
		}

		[class*="col-"] {
			float: $start-direction;
		}
	}
}
