.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  height: auto;
  width: 100%;
  background: #fff;

  &:hover{
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .image {
    display: flex;
    flex: 1;
    align-items: center;
    & img {
      max-width: 100%;
      height: auto;
      max-height: 250px;
      &.pixelated {
        image-rendering: pixelated;
      }
    }
  }

  .caption {
    display: flex;
    align-items: center;
    height: 10%;
  }

  &.sponsor {
    min-height: 300px;
  }
}
