.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  height: auto;
  width: 100%;
  background: #ccc;

  &:hover{
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  }
  .image {
    align-self: flex-end;
    & img {
      max-width: 100%;
      &.pixelated {
        image-rendering: pixelated;
      }
    }

  }

  .caption {
    align-self: flex-end;
  }

  &.sponsor {
    min-height: 300px;
  }
}
