.cookie-consent {	
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: black;
	color: white;
	min-height: 40px;
	vertical-align: middle;
	padding: 20px 20px;

	.buttons {
		float: right;
		width: 10%;
	}

	.text {
		min-width: 90%;
		max-width: 100%;
		float: left;		
	}

	@include respond-to(small) {
		.buttons {
			float: left;
			width: 100%;
			text-align: center;
			margin-top: 5px;
		}
	}

	a {
		color: white;
		font-size: 0.8em;
		margin-right: 5px;
		cursor: pointer;	
		white-space: nowrap;

		&.accept {
			background-color: $totem-pole;
			border: 1px solid $totem-pole;
			border-radius: 4px;
			padding: 4px;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
