@use "abstracts/bidir";
@use "abstracts/mixins";

.round-box {
  margin: 8px;
  direction: bidir.$direction;
  > .header {
    height: 28px;
    border-radius: 8px 8px 0 0;
    padding-#{bidir.$start-direction}: 18px;
    // TODO: Extract font
    font: bold large/1.4 "Trebuchet MS", Verdana, Tahoma, Sans-Serif;

    @include mixins.themify() {
      background: mixins.themed("round-container-title-background");
      border-left: 1px solid mixins.themed("round-container-border");
      border-right: 1px solid mixins.themed("round-container-border");
      border-top: 1px solid mixins.themed("round-container-border");
      color: mixins.themed("round-container-header");
      text-shadow: 3px 0 1px mixins.themed("round-container-header-shadow");
    }
  }
  > .content {
    border-radius: 8px;
    margin: 0;
    padding: 8px;
    overflow: hidden;

    @include mixins.themify() {
      background: mixins.themed("round-container-background");
      border: 1px solid mixins.themed("round-container-border");
    }
    &.text {
      padding-left: 16px;
    }
    &:first-child {
      @include mixins.themify() {
        background: mixins.themed("round-container-headless-background");
      }
    }

    [class*="col-"] {
      float: bidir.$start-direction;
    }
  }
  > .header ~ .content {
    border-radius: 0 0 8px 8px;
    border-top: 0;
  }
}
