.round-box {
  margin: 8px;
  > .header {   
		background: $theme-round-container-title-background;
    border-left: 1px solid $theme-round-container-border;
    border-right: 1px solid $theme-round-container-border;
    border-top: 1px solid $theme-round-container-border;
    height: 28px;
    border-radius: 8px 8px 0 0;
		padding-left: 18px;
		// TODO: Extract font
    font: bold large/1.4 "Trebuchet MS", Verdana, Tahoma, Sans-Serif;
    color: $theme-round-container-header;
    text-shadow: 3px 0 1px $theme-round-container-header-shadow;
  }
  > .content {
    background: $theme-round-container-background;
    border: 1px solid $theme-round-container-border;
    border-radius: 8px;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    &.text {
      padding-left: 16px;
		}
		&:first-child {
			background: $theme-round-container-headless-background;
		}
	}
  > .header ~ .content {
    border-radius: 0 0 8px 8px;
    border-top: 0;
  }  
}
