@use "abstracts/bidir";
@use "abstracts/mixins";

/* Navigation menus */

.navigation {
  padding: 0.5em 1.65em;
  a {
    text-decoration: none;
    padding: 5px;
    @include mixins.themify() {
      color: mixins.themed("container-navigation-link");
    }
  }
  ul {
    padding-left: 2em;
  }
  li {
    list-style-type: bidir.$arrow;
    margin: 0.5em auto;
    @include mixins.themify() {
      color: mixins.themed("container-navigation-bullet");
    }
  }
}

.intro .text li {
  margin: 0.5em auto;
}
