/* Navigation menus */

.navigation {
    padding: 0.5em 1.65em;
    a {
      color: $theme-container-navigation-link;
      text-decoration: none;
      padding: 5px;
    }
    ul {
      padding-left: 2.0em;
    }
    li {
      color: $theme-container-navigation-bullet;
      list-style-type: '\27A3';
      margin: 0.5em auto;
    }
  }
  
  .intro .text li {
    margin: 0.5em auto;
  }
