/* Navigation menus */

.navigation {
  padding: 0.5em 1.65em;
  a {
    text-decoration: none;
    padding: 5px;
    @include themify($themes) {
      color: themed("container-navigation-link");
    }
  }
  ul {
    padding-left: 2em;
  }
  li {
    list-style-type: $arrow;
    margin: 0.5em auto;
    @include themify($themes) {
      color: themed("container-navigation-bullet");
    }
  }
}

.intro .text li {
  margin: 0.5em auto;
}
