/* General layout rules */
html {
	background: rgb(209, 111, 10);
	background: linear-gradient(to bottom, rgb(209, 111, 10) 0%, rgb(231, 172, 21) 400px, rgb(239, 196, 24) 100%);
	background-repeat: repeat-x;
}

body {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin: 8px 8px 24px 8px;
}

.no-scroll {
	overflow-y: hidden;
}

a {
	color: rgb(170, 51, 51);
}

a:hover {
	color: rgb(255, 0, 0);
	text-decoration: none;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

/* Random Screenshot */
.random-screenshot {
	display: block;
	margin: 0 auto;
	width: 100%;
	transform: translateZ(0);
}

.scr-content {
	padding-left: 20px;
}

.screenshot {
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
	margin: 4px;
	width: 215px;
	height: auto;
	background: #ccc;
}

.screenshot img {
	width: 100%;
	height: auto;
	image-rendering: crisp-edges;
}

.gallery {
	text-align: center;
}

.gallery .subhead {
	text-align: left;
}

.bottom-link {
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}

header .row .top {
	height: 91px;
	position: relative;
}

.top img {
	max-width: 58%;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.banners a,
.banners form {
	margin: 8px;
	float: left;
	display: block;
}

.banners a img {
	width: 88px;
	height: 37px;
}

/* Responsive Menu */

.menu-trigger,
.nav-trigger {
	display: none;
}

label[for="nav-trigger"] {
	display: none;
	position: absolute;
	right: 8px;
	top: 15px;
	z-index: 2;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-image: url('/images/nav-trigger.svg');
	background-size: contain;
}

.nav-trigger:checked~label[for="nav-trigger"] {
	position: fixed;
}

.nav-trigger+label,
.site-wrap,
header,
nav {
	transition: right 0.2s ease-in-out;
}

.nav-trigger:checked~.site-wrap nav {
	right: 0;
}

.menu-trigger:checked~dd {
	display: block;
}

/* Content boxes */

#donate-header {
	margin: 5px;
}

.container {
	border-radius: 0 0 8px 8px;
	background: rgb(251, 241, 206);
}

/* Responsive Behavior */

@include respond-to('medium') {
	/* CSS Rules targeting most tablets in vertical orientation */
	.hide-medium {
		display: none;
	}
	.col-1-2 {
		width: 100%;
	}
	.scummvm {
		font-size: 1.4vw;
	}
	.col-md-2 {
		width: 50%;
	}
	.col-md-1 {
		width: 100%;
	}
}

@include respond-to('small') {
	body {
		margin: 0;
	}
	footer {
		padding: 0 8px;
		background: rgb(251, 241, 206);
	}
	.site-wrap {
		padding: 0;
		margin: 0;
	}
	.col-1-2 {
		clear: left;
		width: 100%;
	}
	[class*='col-'] {
		padding-right: 0;
	}
	.logo {
		max-width: 150px;
		width: 100%;
		position: relative;
		top: 8px;
		margin-left: 8px;
	}
	.topper {
		border-radius: 0;
		background: 0;
	}
	.container {
		border-radius: 0;
	}
	header {
		width: 100%;
		height: 58px;
		z-index: 999;
		border-bottom: 1px rgb(169, 169, 169) solid;
	}
	.col-1-5 {
		width: 100%;
	}
	.col-4-5 {
		width: 100%;
	}
	.header-left {
		width: 100%;
	}
	label[for="nav-trigger"] {
		display: block;
		z-index: 91;
		overflow-y: unset;
	}
	.hide-small {
		display: none;
	}
	.col-sm-1 {
		width: 100%;
	}
	nav label {
		display: block;
		width: 100%;
		cursor: pointer;
	}
}

/* Color overrides */
.bg-yellow {
	background: rgb(251, 241, 206);
}
