@use "sass:color";
@use "sass:map";

@use "abstracts/bidir";
@use "abstracts/helpers";
@use "abstracts/variables";

@use "theme/themes";

@use "abstracts/mixins" with (
  $-breakpoints: variables.$breakpoints,
  $-themes: themes.$themes,
  $-default-theme: "scumm",
);

/* General layout rules */
body {
	background-repeat: repeat-x;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.357em;
	margin: 8px 8px 24px 8px;

	@include mixins.themify() {
		background: mixins.themed("background");
	}
	@include mixins.respond-to("small") {
		margin: 0;
	}
}

.no-scroll {
	overflow-y: hidden;
}

a {
	@include mixins.themify() {
		color: mixins.themed("link");
	}
}

a:hover {
	text-decoration: none;

	@include mixins.themify() {
		color: helpers.hex-color(color.adjust(mixins.themed("link"), $lightness: 20%, $space: hsl));
	}
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.bottom-link {
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}

.banners a,
.banners form {
	margin: 8px;
	float: left;
	display: block;
}

#intro_header {
	font-size: 0.9em;
	line-height: 1.2213em;
}

#donate-header {
	float: bidir.$end-direction;
}

/* Content boxes */

.container {
	border-radius: 0 0 8px 8px;
	@include mixins.themify() {
		background: mixins.themed("wrapper-background");
	}

	@include mixins.respond-to("small") {
		border-radius: 0;
	}
}

span.sprite {
	display: inline-block;
	vertical-align: middle;
	filter: drop-shadow(0 2px 2px variables.$black-semi-transparent);
}

.subhead {
	font-weight: bold;
	line-height: 300%;
	padding-#{bidir.$start-direction}: 5px;
	text-align: bidir.$start-direction;
	margin: 0px 15px;

	@include mixins.themify() {
		color: mixins.themed("container-sub-title");
		border-bottom: 2px dotted mixins.themed("container-sub-title");
	}
}
.subhead-content {
	margin: 0;
	padding: 10px 20px;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}
