$black: rgb(0, 0, 0) !default;
$black-semi-transparent: rgba(0, 0, 0, 0.5) !default;
$white: rgb(255, 255, 255) !default; 
$totem-pole: rgb(168, 39, 9) !default; //153, 27, 7
$kenyan-copper: rgb(130, 29, 6) !default; //124, 28, 5
$japanese-laurel: rgb(64, 106, 4) !default; //10, 105, 6
$double-pearl-lustra: rgb(251, 241, 206) !default; //252, 244, 208
$turbo: rgb(221, 221, 0) !default; //250, 230, 0
$gray: rgb(153, 153, 153) !default; //128, 128, 128
$alto: rgb(224, 224, 224) !default; //219, 219, 219
$silver: rgb(192, 192, 192) !default;
$bamboo: rgb(209, 111, 10) !default;
$cashmere: rgb(228, 186, 155) !default;
$marzipan: rgb(246, 224, 138);

$breakpoints: (
  'small': (min-width: 320px) and (max-width: 640px),
  'medium': (min-width: 641px) and (max-width: 768px),
  'large': (min-width: 769px)
);

$nav-width: 165px;
//linear-gradient(to bottom, #cd816f 0%, #b85038 23%, #aa2b0e 45%, #a82709 100%)
