RewriteEngine On
RewriteRule ^([^/.]+)/?$ $1.php [L]

AuthType basic
AuthName "cgi-bin restricted"
AuthUserFile /etc/awstats/awstats.htpasswd
Require expr %{REQUEST_URI} =~ m#^/site-update/webhook/?#
Require valid-user
